# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Flutter
math_practice_flutter/.dart_tool/
math_practice_flutter/.packages
math_practice_flutter/build/
math_practice_flutter/.flutter-plugins
math_practice_flutter/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/